:root {
    --bg-color: hsl(240, 60%, 1%);
    --text-color: #fffcdd;
    --muted-text-color: #7b7883;
    --primary-color: #fded6c;
    --filepond-color: hsl(240, 13%, 14%);
    --secondary-color: #0f3234;
    --border-radius: 10px;
    --button-color: var(--primary-color);
    --button-hover-color: #ffe83a;
    --link-color: var(--text-color);
    --navbar-bg-color: hsl(240, 60%, 1%);
    --navbar-hover-color: hsl(230, 95%, 22%);
    --navbar-active-color: hsl(230, 85%, 17%);
    --division-line-color: #2c2a1a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    width: fit-content;
    min-width: 40vw;
    max-width: min(500px, 95vw);
    margin: 0 auto;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

a {
    color: var(--link-color);
}

p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.button-link {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--bg-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color .2s;
}

.button-link:hover {
    background-color: var(--button-hover-color);
}

.muted-text {
    font-size: .95rem;
    line-height: 1.05rem;
    color: var(--muted-text-color);
    margin: 0;
    margin-bottom: 4px;
}

.muted-text a {
    color: var(--muted-text-color);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 16px); /* - padding*2 */
    height: auto;
    border-bottom: 1px solid var(--division-line-color);
    height: 70px;
    position: fixed;
    padding: 8px;
    background-color: var(--navbar-bg-color);
}

.navbar > div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    min-width: min(500px, 95vw);
    width: 40vw;
    position: fixed;
}

.navbar a.heading {
    font-size: 3rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-right: 32px;
    font-family: "trebuchet ms", 'Roboto', sans-serif;
}

.navbar .navbar-items > *, .navbar-item {
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 20px 14px 20px 14px;
    border-radius: var(--border-radius);
    position: relative;
    cursor: pointer;
    transition: background-color .16s;
    text-transform: uppercase;
}

.navbar:not(.responsive) .navbar-items > *:hover, .navbar:not(.responsive) .navbar-item:hover {
    background-color: var(--navbar-hover-color);
}

.navbar-items > .active, .navbar-item.active {
    background-color: var(--navbar-active-color);
}

@media screen and (max-width: 450px) {
    .navbar .navbar-items > *, .navbar-item {
        text-transform: none;
        padding: 20px 10px;
    }

    .navbar a.heading {
        font-size: 2.5rem;
        margin-right: 4px;
    }

    .navbar {
        padding: 8px 4px;
    }
}